<template>
  <div>
    <button @click="isShow = !isShow">显示/隐藏</button>
    <transition-group appear>
      <h1 v-show="!isShow" :key="1">你好，世界！</h1>
      <h1 v-show="isShow" :key="2">天堂水，龙井茶</h1>
    </transition-group>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isShow: true,
    };
  },
};
</script>

<style scoped>
h1 {
  background: orange;
}

.v-enter {
  transform: translateX(-100%);
}

.v-enter-to {
  transform: translateX(0);
}

.v-leave {
  transform: translateX(0);
}

.v-leave-to {
  transform: translateX(-100%);
}

.v-enter-active,
.v-leave-active {
  transition: 0.5s;
}
</style>
