<template>
  <div>
    <h2>Home组件内容</h2>
    <div>
      <ul class="nav nav-tabs">
        <li>
          <router-link
            class="list-group-item"
            active-class="active"
            to="/home/news"
            >News</router-link
          >
        </li>
        <li>
          <router-link
            class="list-group-item"
            active-class="active"
            to="/home/message"
            >Message</router-link
          >
        </li>
      </ul>
      <!--
         1. 如果直接使用 keep-alive(无参数)，将缓存所有在其中的组件；
         2. 如果只想缓存指定组件，通过 include 指定；
         3. include 是组件的 name 属性，所以在定义组件时，需要指定其 name
      -->
      <keep-alive include="HomeNews">
        <router-view />
      </keep-alive>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
