<template>
  <div>
    <h1>当前求和为：{{ sum }}</h1>
    <div class="option">
      <select v-model.number="n">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
      <button @click="increment">+</button>
      <button @click="decrement">-</button>
      <button @click="incrementOdd">当前求和为奇数再加</button>
      <button @click="incrementWait">等一等再加</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      n: 1,
      sum: 0,
    };
  },
  methods: {
    increment() {
      this.sum += this.n;
    },
    decrement() {
      this.sum -= this.n;
    },
    incrementOdd() {
      if (this.sum % 2 === 0) {
        return;
      }
      this.increment();
    },
    incrementWait() {
      const t = setTimeout(() => {
        this.increment();
        clearTimeout(t);
      }, 1000);
    },
  },
};
</script>

<style scoped>
.option {
  display: flex;
  gap: 3px;
}
</style>
