<script setup>
import PubSub from "pubsub-js";
</script>
<template>
  <div class="school">
    <h2>名称：{{ name }}</h2>
    <h2>地址：{{ address }}</h2>
    <h2>学生姓名：{{ studentName }}</h2>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: "非正常人类研究院",
      address: "火星",
      studentName: "",
      token: "",
    };
  },
  mounted() {
    this.token = PubSub.subscribe("get-student-name", (msg, name) => {
      console.log("subscribe:", msg, name);
      this.studentName = name;
    });
    console.log(typeof this.token, this.token);
  },
  beforeDestroy() {
    PubSub.unsubscribe(this.token);
  },
};
</script>
<style scoped>
.school {
  background: orchid;
  margin: 3rem 0 3rem 0;
  padding: 1rem;
}
</style>
