<script setup>
import Test from "./components/Test.vue";
import Test2 from "./components/Test2.vue";
import Test3 from "./components/Test3.vue";
</script>

<template>
  <div>
    <Test />
    <hr />
    <Test2 />
    <hr />
    <Test3 />
  </div>
</template>

<script>
export default {};
</script>

<style></style>
