<template>
  <ul>
    <li :style="{ opacity }">欢迎学习Vue</li>
    <li>news001 <input type="text" /></li>
    <li>news002 <input type="text" /></li>
    <li>news003 <input type="text" /></li>
  </ul>
</template>

<script>
export default {
  name: "HomeNews",
  beforeDestroy() {
    console.log("News 组件即将被销毁");
  },
  data() {
    return {
      opacity: 1,
    };
  },
  mounted() {},
  activated() {
    console.log("News 组件被激活");
    this.timer = setInterval(() => {
      console.log("当前 opacity ", this.opacity);
      this.opacity -= 0.01;
      if (this.opacity <= 0) {
        this.opacity = 1;
      }
    }, 16);
  },
  deactivated() {
    console.log("News 组件被灭活");
    clearInterval(this.timer);
  },
};
</script>

<style></style>
