<script setup>
import Item from "./Item.vue";
</script>

<template>
  <ul class="todo-main">
    <transition-group appear>
      <Item v-for="todo in todos" :key="todo.id" :todo="todo" />
    </transition-group>
  </ul>
</template>

<script>
export default {
  name: "List",
  props: ["todos"],
};
</script>

<style scoped>
/*main*/
.todo-main {
  margin-left: 0px;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 0px;
}

.todo-empty {
  height: 40px;
  line-height: 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding-left: 5px;
  margin-top: 10px;
}
.v-enter-active {
  animation: yesen 1s;
}

.v-leave-active {
  animation: yesen 1s reverse;
}

@keyframes yesen {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0px);
  }
}
</style>
