<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../logo.svg" />
    <title>姓名案例_methods实现</title>
  </head>
  <body>
    <div id="root">
      <div>姓：<input type="text" v-model="firstName" /></div>
      <div>名：<input type="text" v-model="lastName" /></div>
      <div>全名：{{fullName()}}</div>
    </div>

    <script src="../../vue.js"></script>
    <script>
      Vue.config.productionTip = false; // 阻止 vue 在启动时生成生产提示。

      new Vue({
        el: "#root",
        data: {
          firstName: "张",
          lastName: "三",
        },
        methods: {
          fullName() {
            return `${this.firstName.slice(0, 3)}-${this.lastName}`;
          },
        },
      });
    </script>
  </body>
</html>
