<template>
  <div class="col-xs-offset-2 col-xs-8">
    <div class="page-header">
      <h2>Vue Router Demo</h2>

      <button @click="$router.back()">后退</button>
      <button @click="$router.forward()">前进</button>
      <button @click="$router.go(-1)">Go(-1)（后退1步）</button>
      <button @click="$router.go(1)">Go(1)（前进1步）</button>
      <button @click="clearAuth">清除登录</button>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    clearAuth() {
      window.localStorage.removeItem("auth");
      this.$router.push("/home");
    },
  },
};
</script>

<style></style>
