<script setup>
import axios from "axios";
</script>

<template>
  <div>
    <button @click="getStudents">获取学生信息</button>
  </div>
</template>

<script>
export default {
  methods: {
    getStudents() {
      axios
        // .get("http://localhost:5000/students") // 直接请求，跨域
        .get("/students") // 使用代理服务器
        .then((res) => {
          console.log(res.data);
        })
        .catch((e) => {
          console.log("请求失败：", e);
        });
    },
  },
};
</script>

<style></style>
