<script setup>
import Category from "./components/Category.vue";
</script>

<template>
  <div>
    <div class="container">
      <Category title="游戏">
        <template slot-scope="s">
          <ul>
            <li v-for="item in s.listData" :key="item" v-text="item"></li>
          </ul>
        </template>
      </Category>
      <Category title="游戏">
        <template slot-scope="s">
          <ol>
            <li v-for="item in s.listData" :key="item" v-text="item"></li>
          </ol>
        </template>
      </Category>
      <Category title="游戏">
        <template slot-scope="s">
          <h4 v-for="item in s.listData" :key="item" v-text="item"></h4>
        </template>
      </Category>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>

<style scoped>
.container,
.footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: start;
}
</style>
