<template>
  <div>
    <h3>请登录</h3>
    <button @click="login">一键登录</button>
  </div>
</template>

<script>
export default {
  methods: {
    login() {
      window.localStorage.setItem("auth", "yesen");
      this.$router.replace({
        name: this.$route.query.from,
        query: JSON.parse(this.$route.query.args),
      });
    },
  },
};
</script>

<style></style>
