<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../logo.svg" />
    <title>vue模板语法</title>
  </head>
  <body>
    <!-- 
     
     -->
    <div id="root">
      <h1>插值语法</h1>
      <h3>你好，{{name}}</h3>
      <hr />

      <h1>绑定指令语法</h1>
      <a :href="url" target="_blank">浪里个浪(简写)</a>
      <a v-bind:href="url" target="_blank">浪里个浪</a>
    </div>

    <script src="../../vue.js"></script>
    <script>
      Vue.config.productionTip = false; // 阻止 vue 在启动时生成生产提示。

      new Vue({
        el: "#root",
        data: {
          name: "Yesen",
          url: "https://google.com",
        },
      });
    </script>
  </body>
</html>
