<script setup>
import Student from "./components/Student.vue";
</script>

<template>
  <div>
    <Student name="张三" :age="12" gender="男" />
    <hr />
    <Student v-bind="student" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      student: {
        name: "李四",
        age: 23,
        gender: "女",
      },
    };
  },
};
</script>

<style scoped></style>
