<template>
  <div class="foobar">
    <h2>名称：{{ name }}</h2>
    <h2>地址：{{ address }}</h2>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: "非正常人类研究院",
      address: "火星",
    };
  },
};
</script>
<style scoped>
.foobar {
  background: orchid;
}
</style>
