<script setup>
import Student from "./components/Student.vue";
import School from "./components/School.vue";
</script>

<template>
  <div>
    <School />
    <hr />
    <Student />
  </div>
</template>

<script>
export default {};
</script>

<style scoped></style>
