<template>
  <li>
    <label>
      <!-- <input type="checkbox" v-model="todo.done" /> -->
      <input
        type="checkbox"
        :checked="todo.done"
        @change="changeHandler(todo.id)"
      />
      <span>{{ todo.title }}</span>
    </label>
    <button class="btn btn-danger" @click="delHandler(todo.id)">删除</button>
  </li>
</template>

<script>
export default {
  name: "Item",
  props: ["todo", "checkItem", "deleteItem"],
  methods: {
    changeHandler(id) {
      this.checkItem(id);
    },
    delHandler(id) {
      if (window.confirm("确认删除")) {
        this.deleteItem(id);
      }
    },
  },
};
</script>

<style scoped lang="scss">
/*item*/
li {
  list-style: none;
  height: 36px;
  line-height: 36px;
  padding: 0 5px;
  border-bottom: 1px solid #ddd;
}

li label {
  float: left;
  cursor: pointer;
}

li label li input {
  vertical-align: middle;
  margin-right: 6px;
  position: relative;
  top: -1px;
}

li button {
  float: right;
  display: none;
  margin-top: 3px;
}

li:before {
  content: initial;
}

li:last-child {
  border-bottom: none;
}

li:hover {
  background: #ddd;

  button {
    display: block;
  }
}
</style>
