<script setup>
import Item from "./Item.vue";
</script>

<template>
  <ul class="todo-main">
    <Item
      v-for="todo in todos"
      :key="todo.id"
      :todo="todo"
      :checkItem="checkItem"
      :deleteItem="deleteItem"
    />
  </ul>
</template>

<script>
export default {
  name: "List",
  props: ["todos", "checkItem", "deleteItem"],
};
</script>

<style scoped>
/*main*/
.todo-main {
  margin-left: 0px;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 0px;
}

.todo-empty {
  height: 40px;
  line-height: 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding-left: 5px;
  margin-top: 10px;
}
</style>
