<template>
  <div>
    <h2 @click="showName">名称：{{ name }}</h2>
    <h2>地址：{{ address }}</h2>
  </div>
</template>

<script>
// import { mixin } from "../mixin";
export default {
  data() {
    return {
      name: "非正常人类研究院",
      address: "火星",
    };
  },
  // mixins: [mixin],
};
</script>
