<template>
  <div>
    <h2 @click="showName">姓名：{{ name }}</h2>
    <h2>年龄：{{ age }}</h2>
    <h2>性别：{{ gender }}</h2>
  </div>
</template>

<script>
// import { mixin } from "../mixin";

export default {
  data() {
    return {
      name: "张三",
      age: 12,
      gender: "男",
    };
  },
  //   mixins: [mixin],
};
</script>
