<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../logo.svg" />
    <title>过滤器</title>
  </head>
  <body>
    <div id="root">
      <h2>显示时间</h2>
      <div>时间戳：{{timestamp}}</div>
      <div>格式化时间（计算属性）：{{formatedTime}}</div>
      <div>格式化时间（过滤器）：{{timestamp | timeFormater}}</div>
      <div>
        格式化时间（过滤器，传参）：{{timestamp |
        timeFormater('YYYY年MM月DD日')}}
      </div>
      <div>
        格式化时间（过滤器，串联）：{{timestamp | timeFormater('YYYY年MM月DD日')
        | top4}}
      </div>
    </div>

    <script src="../../vue.js"></script>
    <script src="../../dayjs.min.js"></script>
    <script>
      Vue.config.productionTip = false; // 阻止 vue 在启动时生成生产提示。

      // 全局过滤器
      Vue.filter("top4", function (v) {
        return v.slice(0, 4);
      });

      new Vue({
        el: "#root",
        data: {
          timestamp: 1686288485837,
        },
        computed: {
          formatedTime() {
            return dayjs(this.timestamp).format("YYYY-MM-DD HH:mm:ss");
          },
        },
        // 局部过滤器
        filters: {
          timeFormater(t, format = "YYYY-MM-DD HH:mm:ss") {
            return dayjs(t).format(format);
          },
        },
      });
    </script>
  </body>
</html>
