<script setup>
import "./asset/bootstrap.css";
import Header from "./components/Header.vue";
</script>

<template>
  <div>
    <div class="row">
      <Header />
    </div>
    <div class="row">
      <div class="col-xs-2 col-xs-offset-2">
        <div class="list-group">
          <router-link
            class="list-group-item"
            active-class="active"
            :to="{ name: 'about' }"
            >About</router-link
          >
          <router-link class="list-group-item" active-class="active" to="/home"
            >Home</router-link
          >
        </div>
      </div>
      <div class="col-xs-6">
        <div class="panel">
          <div class="panel-body">
            <router-view />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped></style>
