<script setup>
import Count from "./components/Count.vue";
import Person from "./components/Person.vue";
</script>

<template>
  <div>
    <Count />
    <hr />
    <Person />
  </div>
</template>

<script>
export default {};
</script>

<style scoped></style>
