<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../logo.svg" />
    <title>分析生命周期</title>
  </head>
  <body>
    <div id="root">
      <div>当前值：{{n}}</div>
      <div>
        <button @click="add">值+1</button>
      </div>
      <div>
        <button @click="bye">destory</button>
      </div>
    </div>

    <script src="../../vue.js"></script>
    <script>
      Vue.config.productionTip = false; // 阻止 vue 在启动时生成生产提示。

      new Vue({
        el: "#root",
        data: {
          n: 1,
        },
        methods: {
          add() {
            this.n++;
          },
          bye() {
            this.$destroy();
          },
        },
        beforeCreate() {
          console.log("beforeCreate", this);
        },
        created() {
          console.log("created", this);
        },
        beforeMount() {
          console.log("beforeMount", this);
        },
        mounted() {
          console.log("mounted", this);
        },
        beforeUpdate() {
          console.log("beforeUpdate", this);
        },
        updated() {
          console.log("updated", this);
        },
        beforeDestroy() {
          console.log("beforeDestroy", this);
        },
        destroyed() {
          console.log("destroyed", this);
        },
      });
    </script>
  </body>
</html>
