<template>
  <div>
    <ul>
      <li v-for="m in messageList" :key="m.id">
        <router-link
          :to="{
            name: 'homeMessageDetail',
            query: {
              ...m,
            },
          }"
          >{{ m.title }}</router-link
        >
        <button @click="showByPush(m)">push查看</button>
        <button @click="showByReplace(m)">replace查看</button>
      </li>
    </ul>
    <hr />
    <router-view />
  </div>
</template>

<script>
export default {
  data() {
    return {
      messageList: [
        { id: 1, title: "消息1" },
        { id: 2, title: "消息2" },
        { id: 3, title: "消息3" },
      ],
    };
  },
  methods: {
    showByPush(m) {
      this.$router.push({
        name: "homeMessageDetail",
        query: { ...m },
      });
    },
    showByReplace(m) {
      this.$router.replace({
        name: "homeMessageDetail",
        query: { ...m },
      });
    },
  },
};
</script>

<style></style>
