<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../logo.svg" />
    <title>初识vue</title>
  </head>
  <body>
    <!-- 
      1. 必须创建一个vue实例，且传入一个配置对象
      2. #root容器里的代码依然符合HTML规范，只不过混入了一些特殊的vue语法
      3. #root容器里的代码被称为 「vue模板」
     -->
    <div id="root">
      <h1>Hello, {{name}}!</h1>
    </div>

    <script src="../../vue.js"></script>
    <script>
      Vue.config.productionTip = false; // 阻止 vue 在启动时生成生产提示。

      new Vue({
        el: "#root",
        data: {
          name: "YESEN",
        },
      });
    </script>
  </body>
</html>
