<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../logo.svg" />
    <title>el与data的两种写法</title>
  </head>
  <body>
    <div id="root">
      <h1>你好，{{name}}</h1>
    </div>

    <script src="../../vue.js"></script>
    <script>
      Vue.config.productionTip = false; // 阻止 vue 在启动时生成生产提示。

      // new Vue({
      //   el: "#root",
      //   data: {
      //     name: "yesen",
      //   },
      // });

      const v = new Vue({
        // data 的第一种写法：对象式
        // data: {
        //   name: "yesen",
        // },

        // data 的第二种写法：函数式(不能用箭头函数)
        data() {
          console.log("this:", this);
          return {
            name: "yesen",
          };
        },
      });

      // v.$mount("#root");

      // 花式玩法：延迟绑定
      const t = setTimeout(() => {
        v.$mount("#root");
        clearTimeout(t);
      }, 2000);
    </script>
  </body>
</html>
