<template>
<div>
    <h2>学校名称：{{ name }}</h2>
    <h2>学校地址：{{ address }}</h2>
    <div><button @click="showName">提示学校名称</button></div>
</div>
</template>

<script>
export default {
    name: 'School',
    data(){
        return {name:'非正常人研究院', address:'火星'}
    },
    methods: {
        showName(){
            alert(this.name);
        }
    },
}
</script>

<style>
</style>