<script setup>
import { nanoid } from "nanoid";
</script>

<template>
  <div>
    <h1>人员列表</h1>
    <div>第一个人员的名字：{{ firstPersonName }}</div>
    <div>
      <input type="text" v-model.trim="name" />
      <button @click="add">添加</button>
      <button @click="addWang">添加老五</button>
    </div>
    <ul>
      <li v-for="p in personList" :key="p.id">{{ p.name }}</li>
    </ul>
    <div>求和结果：{{ sum }}</div>
    <div>你的IP：{{ ip }}</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: "",
    };
  },
  computed: {
    personList() {
      return this.$store.state.person.personList;
    },
    sum() {
      return this.$store.state.count.sum;
    },
    firstPersonName() {
      return this.$store.getters["person/firstPersonName"];
    },
    ip() {
      return this.$store.state.person.ip;
    },
  },
  methods: {
    add() {
      if (!this.name) {
        alert("请输入姓名");
        return;
      }
      this.$store.commit("person/AddPerson", { id: nanoid(), name: this.name });
      this.name = "";
    },
    addWang() {
      this.$store.dispatch("person/addFirstNameMustBeWang", {
        id: nanoid(),
        name: this.name,
      });
      this.name = "";
    },
  },
  mounted() {
    // console.log(this.$store);
    this.$store.dispatch("person/getClientIp");
  },
};
</script>

<style></style>
