<script setup>
import Student from "./components/Student.vue";
import School from "./components/School.vue";
</script>

<template>
  <div class="app">
    <h1>{{ msg }}</h1>
    <School />
    <Student />
  </div>
</template>

<script>
export default {
  data() {
    return {
      msg: "你好，世界",
    };
  },
  methods: {},
  mounted() {},
};
</script>

<style scoped>
.app {
  background: gray;
}
</style>
