<template>
  <div>
    <h2>名称：{{ name | top4 }}</h2>
    <h2>地址：{{ address }}</h2>
    <button @click="hello">调用插件的hello方法</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: "非正常人类研究院",
      address: "火星",
    };
  },
};
</script>
