<template>
  <div>
    <h2>姓名：{{ name }}</h2>
    <h2>年龄：{{ age }}</h2>
    <h2>性别：{{ gender }}</h2>
    <input v-focus-bind="name" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: "张三",
      age: 12,
      gender: "男",
    };
  },
};
</script>
