<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../logo.svg" />
    <title>vue</title>
  </head>
  <body>
    <div id="root">
      <School></School>
      <hr />
      <Student></Student>
    </div>

    <script src="../../vue.js"></script>
    <script>
      Vue.config.productionTip = false; // 阻止 vue 在启动时生成生产提示。

      const School = Vue.extend({
        template: `<div>
            <h2>学校名称：{{name}}</h2>
            <h2>学校地址：{{address}}</h2>
          </div>`,
        data() {
          return {
            name: "非正常人类研究院",
            address: "火星",
          };
        },
      });

      // 简写方式
      const Student = {
        template: `<div>
          <h2>学生姓名：{{name}}</h2>
          <h2>学生年龄：{{age}}</h2>
          </div>`,
        data() {
          return {
            name: "张三",
            age: 29,
          };
        },
      };

      new Vue({
        el: "#root",
        components: { School, Student },
      });
    </script>
  </body>
</html>
