<script setup>
import Demo from "./components/Demo.vue";

function showMsg(msg) {
  console.log("showMsg:", msg);
}
</script>

<template>
  <div>
    <Demo @hello="showMsg" foo="abc" bar="123">
      <template v-slot:slot-1>
        <div>天堂水，龙井茶</div>
      </template>
    </Demo>
  </div>
</template>

<style scoped></style>
