<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../logo.svg" />
    <title>MVVM模型</title>
  </head>
  <body>
    <div id="root">
      <div>名称：{{name}}</div>
      <div>地址：{{address}}</div>
    </div>

    <script src="../../vue.js"></script>
    <script>
      Vue.config.productionTip = false; // 阻止 vue 在启动时生成生产提示。

      const vm = new Vue({
        el: "#root",
        data: {
          name: "yesen",
          address: "地球",
        },
      });

      console.log(vm);
    </script>
  </body>
</html>
