<template>
  <div>
    <h1>当前求和为：{{ $store.state.sum }}</h1>
    <h3>当前求和处理过后为：{{ $store.getters.bigSum }}</h3>
    <div class="option">
      <select v-model.number="n">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
      <button @click="increment">+</button>
      <button @click="decrement">-</button>
      <button @click="incrementOdd">当前求和为奇数再加</button>
      <button @click="incrementWait">等一等再加</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      n: 1,
    };
  },
  methods: {
    increment() {
      //   this.$store.dispatch("increment", this.n);
      this.$store.commit("Increment", this.n);
    },
    decrement() {
      //   this.$store.dispatch("decrement", this.n);
      this.$store.commit("Decrement", this.n);
    },
    incrementOdd() {
      this.$store.dispatch("incrementOdd", this.n);
    },
    incrementWait() {
      this.$store.dispatch("incrementWait", this.n);
    },
  },
};
</script>

<style scoped>
.option {
  display: flex;
  gap: 3px;
}
</style>
