<script setup>
import Search from "./components/Search.vue";
import List from "./components/List.vue";
import "./assets/bootstrap.css";
</script>

<template>
  <div class="container">
    <Search />
    <List />
  </div>
</template>

<script>
export default {};
</script>

<style></style>
