<template>
  <div class="card">
    <a :href="user.html_url" target="_blank">
      <img :src="user.avatar_url" style="width: 99px" />
    </a>
    <p class="card-text">{{ user.login }}</p>
  </div>
</template>

<script>
export default {
  props: ["user"],
};
</script>

<style scoped>
.card {
  float: left;
  width: 33.333%;
  padding: 0.75rem;
  margin-bottom: 2rem;
  border: 1px solid #efefef;
  text-align: center;
}

.card > img {
  margin-bottom: 0.75rem;
  border-radius: 100px;
}

.card-text {
  font-size: 85%;
}
</style>
