<template>
  <div class="student">
    <h2>姓名：{{ name }}</h2>
    <h2>年龄：{{ age }}</h2>
    <h2>性别：{{ gender }}</h2>
    <div>
      <button @click="sendStudentName">把学生名发送给App组件</button>
      <button @click="unbind">解绑自定义事件</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: "张三",
      age: 12,
      gender: "男",
    };
  },
  methods: {
    sendStudentName() {
      // 触发自定义的 `yesen` 事件
      this.$emit("yesen", this.name);
    },
    unbind() {
      // 解绑单个事件
      // this.$off("yesen");

      // 解绑多个事件
      // this.$off(["yesen"]);

      // 解绑所有自定义事件
      this.$off();
    },
  },
};
</script>

<!-- yarn add -D sass -->
<style scoped lang="scss">
.student {
  background: skyblue;
  margin: 3rem 0 3rem 0;
  padding: 1rem;
}
</style>
